/* Header */
header {
  height: 100px;
  background-color: #ff8000;
}

.headerContent {
  height: 100px;
  width: 100%;
  max-width: 1920px;
  display: flex;
  margin: 0 auto;
  padding: 20px;
}

.headerLogo {
  height: 60px;
  width: auto;
}

/* Footer */
.footerImg {
  height: 60px;
  width: auto;
}

footer {
  height: 100px;
  background-color: #ff8000;
  color: white;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

.footerContent {
  height: 100px;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  font-size: 18px;
}

a:hover {
  color: #67370e;
  transform: translateY(-3px);
}

a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #000000;
  transition: width 0.3s ease, left 0.3s ease;
}

a:hover:before {
  width: 100%;
  left: 0;
}

a:active {
  color: #d35400;
}

/* Main Content */
.no-scroll {
  overflow: hidden !important;
}
.visible {
  display: flex !important;
}

#headerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-size: 31px;
  margin-left: 10px;
}

.restaurantRating {
  margin-top: 20px;
  margin-left: 10px;
  color: #ff8000;
  display: flex;
}

.foodImg {
  max-width: 100%;
  width: 100vw;
  height: 220px;
  object-fit: cover;
  margin-bottom: 20px;
}

#menuContainer {
  min-height: calc(100vh - 200px);
  max-width: 1920px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#menu {
  width: calc(100% - 300px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15), 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.burgerItem {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: auto;
  cursor: pointer;
}
.burgerItem p{
  text-align: left;
}
.burgerFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.burgerItem:hover {
  transform: scale(1.01);
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
  border-color: #ff8000;
  background-color: #f9f9f9;
}

.price {
  display: block;
  margin: 10px 0;
  font-weight: bold;
  color: #e67e22;
}

.orderConfirmation{
  background-color: #ff8000;
  font-size: 30px;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .links {
    gap: 10px;
    font-size: 16px;
  }
  #menu{
    padding: 0;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #ff8000;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}
::-webkit-scrollbar {
  width: 8px;
}

#basket::-webkit-scrollbar-track {
  background: #000000;
}

#basket::-webkit-scrollbar-thumb {
  background: #ff8000;
  border-radius: 4px;
}

#basket::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}
