h3 {
  text-align: center;
}

#basketContainer {
  width: 300px;
  flex-grow: 1;
  padding: 16px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

#basket {
  width: 100%;
  max-height: 820px;
  overflow: auto;
  position: sticky;
  top: 0;
  box-sizing: content-box;
}

#basket p {
  text-align: right;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.burgerInBasket {
  position: relative;
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  background-color: #f9f9f9;
}

.burgerControls {
  display: flex;
  align-items: center;
  gap: 15px; /* Abstand zwischen den Buttons und der Menge */
}

.burgerControls button {
  background-color: #ff8000;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerControls button:hover {
  background-color: #e67e22;
}

.burgerControls button.remove {
  background-color: #e74c3c; /* Roter Müllkorb */
  font-size: 20px;
  width: 45px;
  height: 45px;
}

.burgerControls button.remove:hover {
  background-color: #c0392b;
}

.burgerControls button.remove:hover {
  background-color: #c0392b;
}

.burgerControls span {
  font-size: 18px;
  font-weight: bold;
}

.quantityDisplay {
  font-size: 18px;
  font-weight: bold;
}

/* Warenkorb-Overlay */
#basketOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#basketContent {
  background: white;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0 auto;
}
#basketButton {
  display: none;
}

#closeBasket {
  position: absolute;
  top: 5px;
  right: 50px;
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
  color: #ff8000;
}

@media (max-width: 768px) {
  #basketContent{
    overflow: auto;
  }

  #basketContainer {
    display: none;
  }

  .btnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #basketButton {
    background-color: #0d00ff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #menu {
    width: auto;
  }
}

@media (max-width: 400px){
  h1{
    font-size: 25px;
  }

  h3{
    font-size: 16px;
  }

  p{
    font-size: 14px;
  }
  
  .restaurantRating{
    font-size: 14px;
  }
}